<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
      <services>
        <service name="MobileWCF.ServerHost.CalculatorServiceAsyncAPM">
          <endpoint address="http://localhost:9003/CalculatorService" binding="basicHttpBinding"
            contract="MobileWCF.Contracts.ICalculatorServiceAsyncAPM" />
          <endpoint address="http://localhost:9003/CalculatorService" binding="basicHttpBinding"
            contract="MobileWCF.Contracts.ICalculatorServiceSync" />
          <endpoint address="http://localhost:9003/CalculatorService" binding="basicHttpBinding"
            contract="MobileWCF.Contracts.ICalculatorServiceAsyncTAP" />
        </service>
      </services>
    </system.serviceModel>
</configuration>